.statInfoWrapper {
    position: relative;
    width: 100%;
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.statInfoWrapper:last-child {
    margin-bottom: 0px;
}

.statTextWrapper {
    min-width: 50%;
    width: max-content;
    height: 100%;
}

.statCount {
    font-family: Sansation;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 36px;
    color: var(--black);
    margin-top: 4px;
    margin-bottom: 8px;
}

.statHint {
    font-family: Sansation Light;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height */


    color: var(--grey);
}

@media screen and (max-width: 1600px) {
    .statInfoWrapperContainer {
        position: absolute;
        top: 50px;
        right: 50px;
        bottom: 50px;
        left: 50px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1020px) {
    .statTextWrapper {
        max-width: 150px;
    }

    .statInfoWrapper {
        gap: 20px;
        grid-gap: 20px;
    }
    
    .statCount {
        font-size: 24px;
        margin-top: 8px;
        margin-bottom: 0px;
    }

    .statHint {
        font-size: 14px;
    }
}

@media screen and (max-width: 767px) {
    .statTextWrapper {
        max-width: 210px;
    }

    .statInfoWrapperContainer {
        position: relative;
        top: unset;
        bottom: unset;
        left: unset;
        right: unset;
        margin: unset;
    }
}